<header class="header">
  <div class="header__logo">
    <svg
      width="37"
      height="24"
      viewBox="0 0 37 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="25" cy="12" r="12" fill="#ECEFF2" />
      <circle cx="12" cy="12" r="12" fill="#2A6CEA" />
    </svg>
    <p class="header__logo-text">testLab</p>
  </div>

  <div class="header__links">
    <a href="#about" class="header__links-link link">Как это работает</a>
    <a href="#thirdBlock" class="header__links-link link">3-й блок</a>
    <a href="#faq" class="header__links-link link">Вопросы и ответы</a>
    <a href="#orderForm" class="header__links-link link">Форма</a>
  </div>

  <div class="burger">
    <button
      class="burger__button"
      type="button"
      (click)="popup.closePopup(); popup.openPopup()"
    >
      <img src="assets/images/burger-menu-button-part.svg" />
      <img src="assets/images/burger-menu-button-part.svg" />
    </button>
    <app-popup #popup></app-popup>
  </div>
</header>
