<section id="orderForm" class="orderForm">
  <h3 class="heading">Отправь форму</h3>
  <form
    class="orderForm__form"
    [formGroup]="orderForm"
    (ngSubmit)="onSubmit($event)"
    novalidate
  >
    <div class="orderForm__container">
      <input
        id="name"
        class="orderForm__input"
        type="text"
        placeholder="Имя"
        formControlName="name"
        minlength="2"
      />
      <span class="form__error">Минимальная длина имени 2 символа</span>
      <label for="name" class="orderForm__label">Имя</label>
    </div>
    <div class="orderForm__container">
      <input
        id="phone"
        class="orderForm__input"
        type="tel"
        placeholder="Телефон"
        formControlName="tel"
        pattern="[789][0-9]{10}"
      />
      <span class="form__error"
        >Это поле должно содержать телефон в формате 71234567890</span
      >
      <label for="phone" class="orderForm__label">Телефон</label>
    </div>
    <label class="orderForm__check">
      <p class="orderForm__check-input-text">Согласен, отказываюсь</p>
      <input
        type="checkbox"
        class="orderForm__check-input"
        formControlName="consent"
      />
    </label>
    <button class="orderForm__check-button" type="submit">Отправить</button>
  </form>
</section>
